Repository rbastian/wsim: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, pytest, frontend-type-check, frontend-lint

ty-check:
  name: ty type check
  entry: bash -c 'cd backend && uv run ty check wsim_core wsim_api'
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'cd backend && uv run pytest'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-type-check:
  name: frontend type check
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

frontend-lint:
  name: frontend lint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

Close wsim-d6j as duplicate of wsim-ie6
  .beads/issues.jsonl
Due: none

Improve ship panel UI: make more compact and opaque (wsim-139)
  .beads/issues.jsonl
  frontend/src/components/ShipActionPanel.tsx
Due: frontend-type-check, frontend-lint

Update progress.txt with wsim-139 implementation details
  .beads/issues.jsonl
  progress.txt
Due: none

Improve ship panel UI (wsim-139) (#63)
  .beads/issues.jsonl
  frontend/src/components/ShipActionPanel.tsx
  progress.txt
Due: frontend-type-check, frontend-lint

Close bead wsim-139
  .beads/issues.jsonl
Due: none

Add comprehensive tests for combat firing error paths (wsim-dk6)
  .beads/issues.jsonl
  backend/tests/test_games_router.py
Due: ty-check, pytest

Update progress.txt with wsim-dk6 completion
  backend/progress.txt
Due: none

Update beads after closing wsim-dk6
  .beads/issues.jsonl
Due: none

Add comprehensive tests for combat firing error paths (wsim-dk6) (#64)
  .beads/issues.jsonl
  backend/progress.txt
  backend/tests/test_games_router.py
Due: ty-check, pytest

Add test for scenario loader OSError handling (wsim-e8z)
  .beads/issues.jsonl
  backend/tests/serialization/test_scenario_loader.py
Due: ty-check, pytest

Update progress.txt with wsim-e8z completion
  backend/progress.txt
Due: none

Update beads after closing wsim-e8z
  .beads/issues.jsonl
Due: none

Add test for scenario loader OSError handling (wsim-e8z) (#65)
  .beads/issues.jsonl
  backend/progress.txt
  backend/tests/serialization/test_scenario_loader.py
Due: ty-check, pytest

Add comprehensive error handling tests for games router (wsim-0i2)
  .beads/issues.jsonl
  backend/tests/test_games_router.py
  progress.txt
Due: ty-check, pytest

Add comprehensive error handling tests for games router (wsim-0i2) (#66)
  .beads/issues.jsonl
  backend/tests/test_games_router.py
  progress.txt
Due: ty-check, pytest

Close bead wsim-0i2
  .beads/issues.jsonl
Due: none

Add scenario validation error path tests (wsim-xmf)
  .beads/issues.jsonl
  backend/tests/serialization/test_scenario_loader.py
Due: ty-check, pytest

Add scenario validation error path tests (wsim-xmf) (#67)
  .beads/issues.jsonl
  backend/tests/serialization/test_scenario_loader.py
Due: ty-check, pytest

Close bead wsim-xmf and update progress
  .beads/issues.jsonl
  progress.txt
Due: none

Add comprehensive error handling tests for games router (wsim-6q9)
  .beads/issues.jsonl
  backend/tests/test_games_router.py
Due: ty-check, pytest

Update progress.txt with wsim-6q9 implementation notes
  backend/progress.txt
Due: none

Add comprehensive error handling tests for games router (wsim-6q9) (#68)
  .beads/issues.jsonl
  backend/progress.txt
  backend/tests/test_games_router.py
Due: ty-check, pytest

Close bead wsim-6q9
  .beads/issues.jsonl
Due: none

Add comprehensive frontend unit tests for utilities and hooks (wsim-l2h)
  .beads/issues.jsonl
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/client.test.ts
  frontend/src/hooks/useKeyboardShortcuts.test.ts
  frontend/src/hooks/useScreenReader.test.ts
  frontend/src/test/setup.ts
  frontend/vitest.config.ts
Due: frontend-type-check, frontend-lint

Update progress.txt with frontend testing implementation details
  .beads/issues.jsonl
  progress.txt
Due: none

Add comprehensive frontend unit tests for utilities and hooks (wsim-l2h) (#69)
  .beads/issues.jsonl
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/client.test.ts
  frontend/src/hooks/useKeyboardShortcuts.test.ts
  frontend/src/hooks/useScreenReader.test.ts
  frontend/src/test/setup.ts
  frontend/vitest.config.ts
  progress.txt
Due: frontend-type-check, frontend-lint

Add tests for get_game/delete_game error paths and successful fire_broadside (wsim-dhn)
  .beads/issues.jsonl
  backend/tests/test_games_router.py
Due: ty-check, pytest

Update progress.txt with games router testing details
  .beads/issues.jsonl
  progress.txt
Due: none

Add error path tests for games router (wsim-dhn) (#70)
  .beads/issues.jsonl
  backend/tests/test_games_router.py
  progress.txt
Due: ty-check, pytest

Fix hex map to fill entire viewport (wsim-5q8)
  .beads/issues.jsonl
  frontend/src/App.css
  frontend/src/index.css
  frontend/src/pages/GamePage.tsx
Due: frontend-type-check, frontend-lint

Close bead wsim-5q8
  .beads/issues.jsonl
Due: none

Increase hex grid size to fill screen better (wsim-5q8)
  .beads/issues.jsonl
  frontend/src/pages/GamePage.tsx
Due: frontend-type-check, frontend-lint

Fix hex grid to actually fill screen (wsim-5q8)
  frontend/src/components/HexGrid.tsx
  frontend/src/pages/GamePage.tsx
Due: frontend-type-check, frontend-lint

Increase map size to fill widescreen displays (wsim-5q8)
  backend/scenarios/mvp_crossing_paths_v1.json
  frontend/src/components/HexGrid.tsx
  frontend/src/pages/GamePage.tsx
Due: frontend-type-check, frontend-lint

Adjust map to 50x20 with larger hexes (wsim-5q8)
  .beads/issues.jsonl
  backend/scenarios/mvp_crossing_paths_v1.json
  frontend/src/pages/GamePage.tsx
Due: frontend-type-check, frontend-lint

Update bead wsim-5q8 status
  .beads/issues.jsonl
Due: none

Increase map to 80x20 to fill widescreen displays (wsim-5q8)
  .beads/issues.jsonl
  backend/scenarios/mvp_crossing_paths_v1.json
Due: none

Path conditions:
  ty-check: any of: ^backend/.*\.py$
  pytest: any of: ^backend/.*\.py$
  frontend-type-check: any of: ^frontend/.*\.(ts|tsx)$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
