Repository rbastian/wsim: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, pytest, frontend-type-check, frontend-lint

ty-check:
  name: ty type check
  entry: bash -c 'cd backend && uv run ty check wsim_core wsim_api'
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'cd backend && uv run pytest'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-type-check:
  name: frontend type check
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

frontend-lint:
  name: frontend lint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

Enhance ship hover and selection interactions (wsim-ocn) (#43)
  .beads/issues.jsonl
  backend/wsim_api/main.py
  backend/wsim_api/routers/persistence.py
  frontend/src/components/HexGrid.tsx
  frontend/src/components/Ship.tsx
  frontend/src/index.css
  progress.txt
Due: ty-check, pytest, frontend-type-check, frontend-lint

Close bead wsim-ocn
  .beads/issues.jsonl
Due: none

Build Planning phase panel content (wsim-7pz)
  .beads/issues.jsonl
  frontend/src/components/PlanningControls.tsx
  frontend/src/pages/GamePage.tsx
  progress.txt
Due: frontend-type-check, frontend-lint

Build Planning phase panel content (wsim-7pz) (#44)
  .beads/issues.jsonl
  frontend/src/components/PlanningControls.tsx
  frontend/src/pages/GamePage.tsx
  progress.txt
Due: frontend-type-check, frontend-lint

Close bead wsim-7pz
  .beads/issues.jsonl
Due: none

Implement ready state tracking and visualization (wsim-4l5)
  .beads/issues.jsonl
  frontend/src/components/PhaseActionButton.tsx
  frontend/src/components/ShipActionPanel.tsx
  frontend/src/components/TopHUD.tsx
  frontend/src/pages/GamePage.tsx
Due: frontend-type-check, frontend-lint

Update progress.txt with ready state tracking implementation
  progress.txt
Due: none

Implement ready state tracking and visualization (wsim-4l5) (#45)
  .beads/issues.jsonl
  frontend/src/components/PhaseActionButton.tsx
  frontend/src/components/ShipActionPanel.tsx
  frontend/src/components/TopHUD.tsx
  frontend/src/pages/GamePage.tsx
  progress.txt
Due: frontend-type-check, frontend-lint

Close bead wsim-4l5
  .beads/issues.jsonl
Due: none

Implement Combat phase panel content (wsim-toj)
  .beads/issues.jsonl
  frontend/src/components/CombatControls.tsx
  frontend/src/pages/GamePage.tsx
Due: frontend-type-check, frontend-lint

Close bead wsim-toj and update progress
  .beads/issues.jsonl
  progress.txt
Due: none

Build Combat phase panel content (wsim-toj) (#46)
  .beads/issues.jsonl
  frontend/src/components/CombatControls.tsx
  frontend/src/pages/GamePage.tsx
  progress.txt
Due: frontend-type-check, frontend-lint

Integrate combat targeting visualization (wsim-3vl)
  .beads/issues.jsonl
  frontend/src/components/CombatControls.tsx
  frontend/src/components/HexGrid.tsx
  frontend/src/components/Ship.tsx
  frontend/src/pages/GamePage.tsx
  progress.txt
Due: frontend-type-check, frontend-lint

Close bead wsim-3vl
  .beads/issues.jsonl
Due: none

Add animations and micro-interactions (wsim-pkn)
  .beads/issues.jsonl
  frontend/src/components/CombatControls.tsx
  frontend/src/components/TurnPhaseIndicator.tsx
  frontend/src/index.css
Due: frontend-type-check, frontend-lint

Update progress.txt with animation implementation details (wsim-pkn)
  .beads/issues.jsonl
  backend/progress.txt
Due: none

Close bead wsim-pkn
  .beads/issues.jsonl
Due: none

Implement responsive breakpoints and mobile layout (wsim-xl1)
  .beads/issues.jsonl
  frontend/src/components/CombatControls.tsx
  frontend/src/components/PhaseActionButton.tsx
  frontend/src/components/PlanningControls.tsx
  frontend/src/components/ShipActionPanel.tsx
  frontend/src/components/TopHUD.tsx
  frontend/src/components/TurnPhaseIndicator.tsx
  frontend/src/main.tsx
  frontend/src/pages/GamePage.tsx
  frontend/src/responsive.css
Due: frontend-type-check, frontend-lint

Update progress.txt with responsive implementation details (wsim-xl1)
  progress.txt
Due: none

Close bead wsim-xl1
  .beads/issues.jsonl
Due: none

Implement keyboard navigation and ARIA attributes (wsim-hvq)
  .beads/issues.jsonl
  frontend/src/components/CombatControls.tsx
  frontend/src/components/PhaseActionButton.tsx
  frontend/src/components/PlanningControls.tsx
  frontend/src/components/ScreenReaderLiveRegion.tsx
  frontend/src/components/ShipActionPanel.tsx
  frontend/src/components/SkipLinks.tsx
  frontend/src/hooks/useKeyboardShortcuts.ts
  frontend/src/hooks/useScreenReader.ts
  frontend/src/index.css
  frontend/src/pages/GamePage.tsx
Due: frontend-type-check, frontend-lint

Update progress.txt with keyboard navigation implementation details (wsim-hvq)
  .beads/issues.jsonl
  progress.txt
Due: none

Implement keyboard navigation and ARIA attributes (wsim-hvq) (#50)
  .beads/issues.jsonl
  frontend/src/components/CombatControls.tsx
  frontend/src/components/PhaseActionButton.tsx
  frontend/src/components/PlanningControls.tsx
  frontend/src/components/ScreenReaderLiveRegion.tsx
  frontend/src/components/ShipActionPanel.tsx
  frontend/src/components/SkipLinks.tsx
  frontend/src/hooks/useKeyboardShortcuts.ts
  frontend/src/hooks/useScreenReader.ts
  frontend/src/index.css
  frontend/src/pages/GamePage.tsx
  progress.txt
Due: frontend-type-check, frontend-lint

Close bead wsim-hvq
  .beads/issues.jsonl
Due: none

Import custom fonts and finalize typography (wsim-93f)
  .beads/issues.jsonl
  frontend/index.html
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/typography.css
Due: frontend-type-check, frontend-lint

Close bead wsim-93f
  .beads/issues.jsonl
Due: none

Update progress.txt with typography implementation details (wsim-93f)
  progress.txt
Due: none

Complete accessibility audit and WCAG AA compliance (wsim-h9h)
  .beads/issues.jsonl
  README.md
  docs/ACCESSIBILITY_AUDIT.md
  frontend/src/components/Ship.tsx
  frontend/src/components/ShipActionPanel.tsx
  frontend/src/components/TurnPhaseIndicator.tsx
  frontend/src/index.css
Due: frontend-type-check, frontend-lint

Complete accessibility audit and WCAG AA compliance (wsim-h9h) (#52)
  .beads/issues.jsonl
  README.md
  docs/ACCESSIBILITY_AUDIT.md
  frontend/src/components/Ship.tsx
  frontend/src/components/ShipActionPanel.tsx
  frontend/src/components/TurnPhaseIndicator.tsx
  frontend/src/index.css
Due: frontend-type-check, frontend-lint

Close bead wsim-h9h (accessibility audit)
  .beads/issues.jsonl
Due: none

Update progress.txt with accessibility audit details (wsim-h9h)
  progress.txt
Due: none

Close epic wsim-684 (Full-Screen Immersive UI Redesign)
  .beads/issues.jsonl
Due: none

Add comprehensive tests for persistence API and victory conditions (wsim-c1n)
  .beads/issues.jsonl
  backend/tests/engine/test_victory.py
  backend/tests/test_persistence_api.py
Due: ty-check, pytest

Update progress.txt with test coverage improvements (wsim-c1n)
  progress.txt
Due: none

Add comprehensive tests for persistence API and victory conditions (wsim-c1n) (#53)
  .beads/issues.jsonl
  backend/tests/engine/test_victory.py
  backend/tests/test_persistence_api.py
  progress.txt
Due: ty-check, pytest

Close bead wsim-c1n
  .beads/issues.jsonl
Due: none

Add bead for games router test coverage (wsim-zki)
  .beads/issues.jsonl
Due: none

Add comprehensive test coverage for games router
  .beads/issues.jsonl
  backend/tests/test_games_router.py
Due: ty-check, pytest

Update progress.txt with games router test coverage (wsim-zki)
  progress.txt
Due: none

Update beads: create wsim-vn9 for remaining coverage, close wsim-zki
  .beads/issues.jsonl
Due: none

Path conditions:
  ty-check: any of: ^backend/.*\.py$
  pytest: any of: ^backend/.*\.py$
  frontend-type-check: any of: ^frontend/.*\.(ts|tsx)$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
