Repository rbastian/wsim: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, pytest, frontend-type-check, frontend-lint

ty-check:
  name: ty type check
  entry: bash -c 'cd backend && uv run ty check wsim_core wsim_api'
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'cd backend && uv run pytest'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-type-check:
  name: frontend type check
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

frontend-lint:
  name: frontend lint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

Improve test coverage for remaining low-coverage modules (wsim-vn9)
  .beads/issues.jsonl
  backend/tests/engine/test_movement_parser.py
  backend/tests/models/test_hex.py
  backend/tests/serialization/test_scenario_loader.py
  backend/tests/test_persistent_store.py
  backend/tests/test_store.py
Due: ty-check, pytest

Update progress.txt with wsim-vn9 test coverage improvements
  .beads/issues.jsonl
  progress.txt
Due: none

Update beads after merge
  .beads/issues.jsonl
Due: none

Improve test coverage for remaining low-coverage modules (wsim-vn9) (#55)
  .beads/issues.jsonl
  backend/tests/engine/test_movement_parser.py
  backend/tests/models/test_hex.py
  backend/tests/serialization/test_scenario_loader.py
  backend/tests/test_persistent_store.py
  backend/tests/test_store.py
  progress.txt
Due: ty-check, pytest

Close bead wsim-vn9 - test coverage improvements complete
  .beads/issues.jsonl
Due: none

Add error path tests for games router (wsim-o8f)
  .beads/issues.jsonl
  backend/tests/test_games_router.py
Due: ty-check, pytest

Remove unused imports from test file
  backend/tests/test_games_router.py
Due: ty-check, pytest

Document test coverage improvements (wsim-o8f)
  progress.txt
Due: none

Add error path test coverage for games router (wsim-o8f) (#56)
  .beads/issues.jsonl
  backend/tests/test_games_router.py
  progress.txt
Due: ty-check, pytest

Close bead wsim-o8f - error path test coverage complete
  .beads/issues.jsonl
Due: none

Add tests for victory conditions triggered during combat/reload phases (wsim-pyt)
  .beads/issues.jsonl
  backend/tests/test_games_router.py
Due: ty-check, pytest

Document victory condition test coverage implementation (wsim-pyt)
  progress.txt
Due: none

Add tests for victory conditions during combat/reload phases (wsim-pyt) (#57)
  .beads/issues.jsonl
  backend/tests/test_games_router.py
  progress.txt
Due: ty-check, pytest

Close bead wsim-pyt - victory condition test coverage complete
  .beads/issues.jsonl
Due: none

Fix mark ready button functionality (wsim-9kz)
  .beads/issues.jsonl
  backend/tests/serialization/test_scenario_loader.py
  backend/tests/test_games_router.py
  backend/wsim_api/routers/games.py
  backend/wsim_core/models/orders.py
  progress.txt
Due: ty-check, pytest

Update bead wsim-9kz with implementation notes
  .beads/issues.jsonl
Due: none

Fix mark ready button functionality (wsim-9kz) (#58)
  .beads/issues.jsonl
  backend/tests/serialization/test_scenario_loader.py
  backend/tests/test_games_router.py
  backend/wsim_api/routers/games.py
  backend/wsim_core/models/orders.py
  progress.txt
Due: ty-check, pytest

Close bead wsim-9kz
  .beads/issues.jsonl
Due: none

Fix hex map not filling screen (wsim-ie6)
  .beads/issues.jsonl
  frontend/src/components/HexGrid.tsx
  progress.txt
Due: frontend-type-check, frontend-lint

Update bead wsim-ie6 with implementation notes
  .beads/issues.jsonl
Due: none

Fix hex map not filling screen (wsim-ie6) (#59)
  .beads/issues.jsonl
  frontend/src/components/HexGrid.tsx
  progress.txt
Due: frontend-type-check, frontend-lint

Close bead wsim-ie6
  .beads/issues.jsonl
Due: none

Improve wind direction clarity (wsim-oyz)
  .beads/issues.jsonl
  frontend/src/components/WindRose.tsx
  progress.txt
Due: frontend-type-check, frontend-lint

Update bead wsim-oyz with implementation notes
  .beads/issues.jsonl
Due: none

Improve wind direction clarity (wsim-oyz) (#60)
  .beads/issues.jsonl
  frontend/src/components/WindRose.tsx
  progress.txt
Due: frontend-type-check, frontend-lint

Close bead wsim-oyz
  .beads/issues.jsonl
Due: none

Add bug beads for squadron ready state and wind direction display
  .beads/issues.jsonl
Due: none

Add bug bead for hex map width issue (wsim-d6j)
  .beads/issues.jsonl
Due: none

Add bug bead for ship panel UI issues (wsim-139)
  .beads/issues.jsonl
Due: none

Add bug bead for resolve movement API error (wsim-jdg)
  .beads/issues.jsonl
Due: none

Update wsim-jdg with detailed API error information
  .beads/issues.jsonl
Due: none

Fix error message display for movement validation failures (wsim-jdg)
  .beads/issues.jsonl
  frontend/src/api/client.ts
Due: frontend-type-check, frontend-lint

Update progress.txt with wsim-jdg implementation details
  .beads/issues.jsonl
  progress.txt
Due: none

Fix movement validation error messages (wsim-jdg) (#61)
  .beads/issues.jsonl
  frontend/src/api/client.ts
  progress.txt
Due: frontend-type-check, frontend-lint

Close bead wsim-jdg: Fix movement validation error messages
  .beads/issues.jsonl
Due: none

Fix ready button to require all ships to submit orders (wsim-fqj)
  .beads/issues.jsonl
  frontend/src/components/PlanningControls.tsx
Due: frontend-type-check, frontend-lint

Update progress.txt with wsim-fqj implementation details
  .beads/issues.jsonl
  progress.txt
Due: none

Fix squadron ready button behavior (wsim-fqj) (#62)
  .beads/issues.jsonl
  frontend/src/components/PlanningControls.tsx
  progress.txt
Due: frontend-type-check, frontend-lint

Close bead wsim-fqj
  .beads/issues.jsonl
Due: none

Close wsim-eas as duplicate of wsim-oyz
  .beads/issues.jsonl
Due: none

Path conditions:
  ty-check: any of: ^backend/.*\.py$
  pytest: any of: ^backend/.*\.py$
  frontend-type-check: any of: ^frontend/.*\.(ts|tsx)$
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
