Repository rbastian/wsim: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, pytest, frontend-type-check, frontend-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.5
    hooks:
      - id: ruff
        name: ruff lint
        args: [--fix]
        files: ^backend/
      - id: ruff-format
        name: ruff format
        files: ^backend/

  - repo: local
    hooks:
      - id: ty-check
        name: ty type check
        entry: bash -c 'cd backend && uv run ty check wsim_core wsim_api'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false

      - id: pytest
        name: pytest
        entry: bash -c 'cd backend && uv run pytest'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false
        stages: [pre-push]

      - id: frontend-type-check
        name: frontend type check
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: frontend-lint
        name: frontend lint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

Create comprehensive README with setup and gameplay instructions (wsim-fqg)
  .beads/issues.jsonl
  README.md
Due: none

Update progress.txt with README completion
  progress.txt
Due: none

Sync beads database and update uv.lock
  .beads/issues.jsonl
  backend/uv.lock
Due: none

Create comprehensive README with setup and gameplay instructions (wsim-fqg) (#36)
  .beads/issues.jsonl
  README.md
  backend/uv.lock
  progress.txt
Due: none

Add movement path preview visualization (wsim-6uk)
  .beads/issues.jsonl
  frontend/src/components/HexGrid.tsx
  frontend/src/components/OrdersPanel.tsx
  frontend/src/pages/GamePage.tsx
  frontend/src/types/movementPreview.ts
Due: frontend-type-check, frontend-lint

Update progress.txt with movement path preview completion
  progress.txt
Due: none

Close wsim-6uk issue
  .beads/issues.jsonl
Due: none

Add movement path preview visualization (wsim-6uk) (#37)
  .beads/issues.jsonl
  frontend/src/components/HexGrid.tsx
  frontend/src/components/OrdersPanel.tsx
  frontend/src/pages/GamePage.tsx
  frontend/src/types/movementPreview.ts
  progress.txt
Due: frontend-type-check, frontend-lint

Add game state persistence to JSON files (wsim-i26)
  backend/tests/test_persistence.py
  backend/tests/test_persistent_store.py
  backend/wsim_api/main.py
  backend/wsim_api/persistent_store.py
  backend/wsim_api/routers/persistence.py
  backend/wsim_api/store.py
  backend/wsim_core/serialization/game_persistence.py
Due: ty-check, pytest

Update progress.txt with JSON persistence implementation details (wsim-i26)
  progress.txt
Due: none

Update Beads: close wsim-i26
  .beads/issues.jsonl
Due: none

Add game state persistence to JSON files (wsim-i26) (#38)
  .beads/issues.jsonl
  backend/tests/test_persistence.py
  backend/tests/test_persistent_store.py
  backend/wsim_api/main.py
  backend/wsim_api/persistent_store.py
  backend/wsim_api/routers/persistence.py
  backend/wsim_api/store.py
  backend/wsim_core/serialization/game_persistence.py
  progress.txt
Due: ty-check, pytest

bd sync: 2026-01-19 20:31:45
  .beads/issues.jsonl
Due: none

Fix order submission API validation error (wsim-74g)
  frontend/src/components/CombatPanel.tsx
  frontend/src/components/OrdersPanel.tsx
  frontend/src/components/PhaseControlPanel.tsx
  frontend/src/pages/GamePage.tsx
  frontend/src/types/game.ts
Due: frontend-type-check, frontend-lint

Improve combat panel UX with step-by-step instructions
  frontend/src/components/CombatPanel.tsx
Due: frontend-type-check, frontend-lint

Fix target selection flash/disappear bug in combat panel
  frontend/src/components/CombatPanel.tsx
  frontend/src/pages/GamePage.tsx
Due: frontend-type-check, frontend-lint

Fix target selection to use server-side arc data
  frontend/src/components/CombatPanel.tsx
  frontend/src/pages/GamePage.tsx
Due: frontend-type-check, frontend-lint

Fix panel sizing and multi-ship combat issues
  frontend/src/components/CombatPanel.tsx
  frontend/src/components/OrdersPanel.tsx
  frontend/src/pages/GamePage.tsx
Due: frontend-type-check, frontend-lint

Fix collapsed panel sizing - set minHeight to 500px
  frontend/src/components/CombatPanel.tsx
  frontend/src/components/OrdersPanel.tsx
Due: frontend-type-check, frontend-lint

Add UX redesign epic and 14 implementation beads (wsim-684)
  .beads/issues.jsonl
Due: none

Add comprehensive UX redesign document (wsim-684)
  docs/UX_REDESIGN.md
Due: none

Restructure GamePage for full-screen hex map layout (wsim-5q8)
  .beads/issues.jsonl
  frontend/src/components/HexGrid.tsx
  frontend/src/pages/GamePage.tsx
Due: frontend-type-check, frontend-lint

Add progress notes for wsim-5q8
  progress.txt
Due: none

Close bead wsim-5q8
  .beads/issues.jsonl
Due: none

Create TopHUD component with phase controls (wsim-37z)
  .beads/issues.jsonl
  frontend/src/components/PhaseActionButton.tsx
  frontend/src/components/TopHUD.tsx
  frontend/src/components/TurnPhaseIndicator.tsx
  frontend/src/components/WindRose.tsx
  frontend/src/pages/GamePage.tsx
Due: frontend-type-check, frontend-lint

Add progress notes for wsim-37z
  progress.txt
Due: none

Close bead wsim-37z
  .beads/issues.jsonl
Due: none

Implement collapsible ShipActionPanel with slide animation (wsim-xr1)
  .beads/issues.jsonl
  frontend/src/components/ShipActionPanel.tsx
  frontend/src/pages/GamePage.tsx
Due: frontend-type-check, frontend-lint

Add progress notes for wsim-xr1
  .beads/issues.jsonl
  progress.txt
Due: none

Sync beads for wsim-xr1 completion
  .beads/issues.jsonl
Due: none

Update PROMPT.md for UX redesign workflow
  PROMPT.md
Due: none

Implement collapsible ShipActionPanel with slide animation (wsim-xr1) (#41)
  .beads/issues.jsonl
  PROMPT.md
  frontend/src/components/ShipActionPanel.tsx
  frontend/src/pages/GamePage.tsx
  progress.txt
Due: frontend-type-check, frontend-lint

Implement ship visual state indicators (wsim-cd6)
  .beads/issues.jsonl
  frontend/src/components/Ship.tsx
Due: frontend-type-check, frontend-lint

Update progress notes for wsim-cd6
  progress.txt
Due: none

Add ship visual state indicators (wsim-cd6) (#42)
  .beads/issues.jsonl
  frontend/src/components/Ship.tsx
  progress.txt
Due: frontend-type-check, frontend-lint

Close bead wsim-cd6
  .beads/issues.jsonl
Due: none

Enhance ship hover and selection interactions (wsim-ocn)
  .beads/issues.jsonl
  frontend/src/components/HexGrid.tsx
  frontend/src/components/Ship.tsx
  frontend/src/index.css
Due: frontend-type-check, frontend-lint

Apply ruff formatting to backend files
  backend/wsim_api/main.py
  backend/wsim_api/routers/persistence.py
Due: ty-check, pytest

Update bead wsim-ocn with implementation notes
  .beads/issues.jsonl
Due: none

Document ship hover and selection implementation (wsim-ocn)
  progress.txt
Due: none
